* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: rgb(255, 253, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-family: "Comic Neue", cursive;
}

h1 {
  font-family: "Modak", serif;
  text-align: center;
  font-weight: lighter;
  font-size: 48px;
  color: rgba(254, 204, 1, 1);
  text-shadow: 2px 2px 4px rgba(33, 52, 110, 1);
  -webkit-text-stroke: 2px rgba(58, 88, 171, 1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
form label {
  text-align: center;
  font-size: 1.5rem;
}
input {
  border: 2px solid rgba(58, 88, 171, 1);
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 234, 0, 0.3);
  color: rgba(58, 88, 171, 1);
  text-align: center;
}
input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(33, 52, 110, 1);
}
input::placeholder {
  color: rgba(1, 1, 255, 0.3);
  font-style: italic;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: space-evenly;
}
button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(254, 204, 1, 1);
  color: rgba(33, 52, 110, 1);
  font-family: "Comic Neue", cursive;
  border: 1px solid rgba(58, 88, 171, 1);
  transition: ease-in-out 0.3s all;
}
button[type="submit"]:hover,
button[type="reset"]:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 4px rgba(33, 52, 110, 1);
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cardPokemon {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0,0, 0.5);
}
.cardPokemon_name {
  font-size: 1.2rem;
  color: rgba(33, 52, 110, 1);
  text-transform: capitalize;
  initial-letter: uppercase;
  text-align: center;
}
.cardPokemon_img {
  width: 250px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0px 8px rgba(0, 0,0, 0.3);
  border-radius: 10px;
  background: linear-gradient(rgba(74, 140, 190, 0.3), rgba(180, 255, 240, 0.1));
}
.cardPokemon_type, .cardPokemon_evolution{
  font-weight: bold;
  text-align: center;
}
